<form method="POST" action="/products/store">
  <h1
    style="text-align: center;margin-top:20px;font-weight: lighter; font-family:cursive;"
  >Thêm sản phẩm</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName" style="color: #ffb0bd;">Tên sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        name="name"
        placeholder="Tên sản phẩm"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputImage" style="color: #ffb0bd;">Hình ảnh sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="inputImage"
        name="image"
        placeholder="Thêm hình ảnh"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="inputDescription" style="color: #ffb0bd;">Mô tả sản phẩm</label>
    <textarea
      class="form-control"
      id="inputDescription"
      name="description"
      placeholder="Chi tiết ..."
      rows="4"
    ></textarea>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPrice" style="color: #ffb0bd;">Giá sản phẩm</label>
      <input type="text" class="form-control" id="inputPrice" name="price" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
        name="check"
      />
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-outline-info"
    style="margin-bottom: 20px;"
  >Thêm sản phẩm</button>
</form>