<form method="POST" action="/products/store">
  <h1
    style="text-align: center;margin-top:20px;font-weight: lighter; font-family:cursive;"
  >Thêm sản phẩm</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName" style="color: #ffb0bd;">Tên sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        name="name"
        placeholder="Tên sản phẩm"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputImage" style="color: #ffb0bd;">Hình ảnh sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="inputImage"
        name="image"
        placeholder="Thêm hình ảnh"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDescription" style="color: #ffb0bd;">Tiêu đề</label>
      <textarea
        class="form-control"
        id="inputDescription"
        name="description"
        placeholder="Tiêu đề ..."
        rows="4"
      ></textarea>
    </div>

    <div class="form-group col-md-6">
      <label for="inputDescriptionDetail" style="color: #ffb0bd;">Mô tả chi tiết</label>
      <textarea
        class="form-control"
        id="inputDescriptionDetail"
        name="productDetail[productDescription]"
        placeholder="Chi tiết ..."
        rows="4"
      ></textarea>
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputPrice" style="color: #ffb0bd;">Giá sản phẩm</label>
      <input type="text" class="form-control" id="inputPrice" name="price" />
    </div>

    <div class="form-group col-md-6">
      <label for="inputOrigin" style="color: #ffb0bd;">Xuất xứ</label>
      <input
        type="text"
        class="form-control"
        id="inputOrigin"
        name="productDetail[origin]"
      />
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputMaterial" style="color: #ffb0bd;">Chất liệu</label>
      <input
        type="text"
        class="form-control"
        id="inputMaterial"
        name="productDetail[material]"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputOrganization" style="color: #ffb0bd;">Tên tổ chức</label>
      <input
        type="text"
        class="form-control"
        id="inputOrganization"
        name="productDetail[organization]"
      />
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="inputFrom" style="color: #ffb0bd;">Gửi từ</label>
      <input
        type="text"
        class="form-control"
        id="inputFrom"
        name="productDetail[from]"
      />
    </div>

  </div>

  <button
    type="submit"
    class="btn btn-outline-info"
    style="margin-bottom: 20px;"
  >Thêm sản phẩm</button>
</form>