<nav
  id="navbar"
  class="navbar navbar-expand-lg"
  style="background-color: #ffb0bd;"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="/"
      style="color: #fff; font-weight: lighter; font-family:cursive;"
    >
      <img
        style="border-radius: 50%;"
        src="/img/logo_capyluvy.png"
        width="54"
        height="54"
        alt="capybara-logo"
      />
      Capyluvy
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
        <li class="btn btn-[#ffb0bd] dropdown show" style="padding: 8px;">
          <a
            style="text-decoration: none; color:#fff;font-weight: lighter; font-family:cursive;"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Quản lý
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/products/create">Thêm sản phẩm</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/products">Chi tiết sản phẩm</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Xem đơn hàng</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/dashboard">Xem thống kê</a>
          </div>
        </li>

    <li class="nav-item">
      <a
        class="nav-link"
        href="/auth/login"
        style="color: #fff; font-weight: lighter; font-family:cursive;"
      >Đăng nhập</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="/auth/register"
        style="color: #fff; font-weight: lighter; font-family:cursive;"
      >Đăng ký</a>
    </li>

    {{!-- <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        style="color: #fff; font-weight: lighter; font-family:cursive;"
      >Đăng xuất</a>
    </li> --}}

    {{!-- <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        style="color: #fff; font-weight: lighter; font-family:cursive;"
      ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-cart-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
          />
        </svg></a>
    </li> --}}
  </ul>
</div>


  </div>
</nav>

<script>
  window.onscroll = function() {stickyNavbar()}; var navbar =
  document.getElementById("navbar"); var sticky = navbar.offsetTop; function
  stickyNavbar() { if(window.scrollY > 0) { navbar.classList.add('sticky'); }
  else { navbar.classList.remove('sticky'); } }
</script>

<style>
  .sticky { position: sticky; top: 0; width: 100%; z-index: 1; }
</style>